.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px;
  max-height: 80vh;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* Card Styling */
.news-card {
  @apply bg-base-300;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  height: 100%;
  animation: rainbowGlow 5s infinite alternate;
}

.news-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

/* Image Styling */
.news-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Content Styling */
.news-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-source {
  font-size: 14px;
  color: #28be82;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin: 0 0 10px;
  color: #eae5e5;
}

p {
  font-size: 14px;
  color: #8c8b8b;
}

/* Media Queries for Responsive Layout */
@media (max-width: 900px) {
  .news-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .news-container {
    grid-template-columns: 1fr;
  }
}

/* Link and Title Styling */
.news-card-link {
  text-decoration: none;
  color: inherit;
}

.news-card-link:hover .news-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}

/* Rainbow Glow Animation */
@keyframes rainbowGlow {
  0% {
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff9900, 0 0 50px #ff9900;
  }

  20% {
    box-shadow: 0 0 10px #ff9900, 0 0 20px #ff9900, 0 0 30px #ffff00, 0 0 40px #ffff00, 0 0 50px #33ff00;
  }

  40% {
    box-shadow: 0 0 10px #33ff00, 0 0 20px #33ff00, 0 0 30px #33ffcc, 0 0 40px #33ffcc, 0 0 50px #00ccff;
  }

  60% {
    box-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #0099ff, 0 0 40px #0099ff, 0 0 50px #6600ff;
  }

  80% {
    box-shadow: 0 0 10px #6600ff, 0 0 20px #6600ff, 0 0 30px #cc00ff, 0 0 40px #cc00ff, 0 0 50px #ff0066;
  }

  100% {
    box-shadow: 0 0 10px #ff0066, 0 0 20px #ff0066, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000;
  }
}
